wsdl/Klasse/wsdl/KlasseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/" xmlns:tns="http://stoettesystemerne.dk/klassifikation" xmlns:type="http://stoettesystemerne.dk/klassifikation/klasse/7/" xmlns="http://www.w3.org/2001/XMLSchema" name="KlasseService_7" targetNamespace="http://stoettesystemerne.dk/klassifikation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://serviceplatformen.dk/xml/wsdl/soap11/Security/Policy" location="https://klassifikation.eksterntest-stoettesystemerne.dk/klasse/7?wsdl=policies/OIOIDWS.wsdl" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="https://klassifikation.eksterntest-stoettesystemerne.dk/klasse/7?xsd=../xsd/7.0.STS-0/KlasseOperationer.xsd" namespace="http://stoettesystemerne.dk/klassifikation/klasse/7/" />
      <xsd:import schemaLocation="https://klassifikation.eksterntest-stoettesystemerne.dk/klasse/7?xsd=../xsd/7.0.STS-0/Klasse.xsd" namespace="http://stoettesystemerne.dk/klassifikation/klasse/7/" />
      <xsd:import schemaLocation="https://klassifikation.eksterntest-stoettesystemerne.dk/klasse/7?xsd=../xsd/7.0.STS-0/KlasseBesked.xsd" namespace="http://stoettesystemerne.dk/klassifikation/klasse/7/" />
      <xsd:import schemaLocation="https://klassifikation.eksterntest-stoettesystemerne.dk/klasse/7?xsd=../xsd/7.0.STS-0/GenerelleDefinitioner.xsd" namespace="urn:oio:sts:7" />
      <xsd:import schemaLocation="https://klassifikation.eksterntest-stoettesystemerne.dk/klasse/7?xsd=../xsd/common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
      <xsd:import schemaLocation="https://klassifikation.eksterntest-stoettesystemerne.dk/klasse/7?xsd=../xsd/common/RequestHeader.xsd" namespace="http://kombit.dk/xml/schemas/RequestHeader/1/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="KlasseRetRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:RetInput" />
  </wsdl:message>
  <wsdl:message name="KlasseListeRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:ListInput" />
  </wsdl:message>
  <wsdl:message name="KlasseSletResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:SletOutput" />
  </wsdl:message>
  <wsdl:message name="KlasseOpretResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:OpretOutput" />
  </wsdl:message>
  <wsdl:message name="KlasseListeResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:ListOutput" />
  </wsdl:message>
  <wsdl:message name="KlasseSoegRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:SoegInput" />
  </wsdl:message>
  <wsdl:message name="KlasseImporterRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:ImportInput" />
  </wsdl:message>
  <wsdl:message name="KlasseRetResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:RetOutput" />
  </wsdl:message>
  <wsdl:message name="KlasseSoegResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:SoegOutput" />
  </wsdl:message>
  <wsdl:message name="KlasseOpretRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:OpretInput" />
  </wsdl:message>
  <wsdl:message name="KlasseImporterResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:ImportOutput" />
  </wsdl:message>
  <wsdl:message name="KlassePassiverRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:PassiverInput" />
  </wsdl:message>
  <wsdl:message name="KlasseLaesRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:LaesInput" />
  </wsdl:message>
  <wsdl:message name="KlasseSletRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:SletInput" />
  </wsdl:message>
  <wsdl:message name="KlassePassiverResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:PassiverOutput" />
  </wsdl:message>
  <wsdl:message name="KlasseLaesResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:LaesOutput" />
  </wsdl:message>
  <wsdl:portType name="KlassePortType">
    <wsdl:operation name="opret">
      <wsdl:input message="tns:KlasseOpretRequestMessage" />
      <wsdl:output message="tns:KlasseOpretResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="importer">
      <wsdl:input message="tns:KlasseImporterRequestMessage" />
      <wsdl:output message="tns:KlasseImporterResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <wsdl:input message="tns:KlassePassiverRequestMessage" />
      <wsdl:output message="tns:KlassePassiverResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="laes">
      <wsdl:input message="tns:KlasseLaesRequestMessage" />
      <wsdl:output message="tns:KlasseLaesResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="ret">
      <wsdl:input message="tns:KlasseRetRequestMessage" />
      <wsdl:output message="tns:KlasseRetResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="slet">
      <wsdl:input message="tns:KlasseSletRequestMessage" />
      <wsdl:output message="tns:KlasseSletResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <wsdl:input message="tns:KlasseSoegRequestMessage" />
      <wsdl:output message="tns:KlasseSoegResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:KlasseListeRequestMessage" />
      <wsdl:output message="tns:KlasseListeResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Klasse" type="tns:KlassePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#ServiceplatformBindingPolicy" />
    <wsdl:operation name="opret">
      <soap12:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/opret" />
      <wsdl:input>
        <soap12:header message="tns:KlasseOpretRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:KlasseOpretResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <soap12:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/importer" />
      <wsdl:input>
        <soap12:header message="tns:KlasseImporterRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:KlasseImporterResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <soap12:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/passiver" />
      <wsdl:input>
        <soap12:header message="tns:KlassePassiverRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:KlassePassiverResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <soap12:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/laes" />
      <wsdl:input>
        <soap12:header message="tns:KlasseLaesRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:KlasseLaesResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <soap12:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/ret" />
      <wsdl:input>
        <soap12:header message="tns:KlasseRetRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:KlasseRetResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <soap12:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/slet" />
      <wsdl:input>
        <soap12:header message="tns:KlasseSletRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:KlasseSletResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <soap12:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/soeg" />
      <wsdl:input>
        <soap12:header message="tns:KlasseSoegRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:KlasseSoegResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <soap12:operation soapAction="http://kombit.dk/sts/klassifikation/klasse/list" />
      <wsdl:input>
        <soap12:header message="tns:KlasseListeRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:KlasseListeResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KlasseService_7">
    <wsdl:port name="Klasse" binding="tns:Klasse">
      <soap12:address location="https://klassifikation.eksterntest-stoettesystemerne.dk/klasse/7" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>